<header class="jumbotron">
  <h1 class="display-4">Travaux Normandie</h1>
  <p class="lead">Une entreprise pleine d'avenir</p>
  <hr class="my-4">
  <p>A vous de joeur les conducteurs de travaux</p>
</header>
